---
import HeaderButton from "./HeaderButton.astro"

console.log('javascript')
---
<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            Bienvenidos a la mesa de ayuda ALFATIC
        </h2>   
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
         Aca encontraras nuestra informacion,actividades y mesa de ayuda 
        </p>
    </div>

    <nav class=" flex flex-col items-center justify-between w-full text-center md:flex-row">
        <HeaderButton class="text-white" href="/oldest">Mesa de Ayuda</HeaderButton>
        <HeaderButton class="text-white" href="/oldest">ALFABOT<svg slot="after" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 9h-1l-.117 .007a1 1 0 0 0 0 1.986l.117 .007v3l.007 .117a1 1 0 0 0 .876 .876l.117 .007h1l.117 -.007a1 1 0 0 0 .876 -.876l.007 -.117l-.007 -.117a1 1 0 0 0 -.764 -.857l-.112 -.02l-.117 -.006v-3l-.007 -.117a1 1 0 0 0 -.876 -.876l-.117 -.007zm.01 -3l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007z" stroke-width="0" fill="currentColor" />
          </svg>Sobre el proyecto</HeaderButton>
        <HeaderButton class="text-white" href="/oldest"></HeaderButton>
    </nav>
</header>
